apiVersion: batch/v1
kind: Job
metadata:
  name: ingext-community-init
  namespace: {{ .Release.Namespace }}
spec:
  parallelism: 1    
  completions: 1
  ttlSecondsAfterFinished: 3600    
  template:         
    metadata:
      name: ingext-community-init
    spec:
      containers:
      - name: account-init
        image: public.ecr.aws/ingext/account_init:latest
        env:
          - name: ACCOUNT
            value: {{ .Values.account }}

        command:
        - /bin/sh
        - -c
        - |
          cd /scripts
          cp /scripts/etcd_config.json /etc/etcd_config.json
          /scripts/rbac_upgrade.sh {{ .Values.account }}
          mkdir /etc/schemas
          cp /scripts/schemas/*.json /etc/schemas/
      restartPolicy: Never