apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: "{{ .Release.Namespace }}-ingress"
  namespace: {{ .Release.Namespace }}
  annotations:
    "alb.ingress.kubernetes.io/load-balancer-name": "{{ .Values.loadBalancerName }}"
    "kubernetes.io/ingress.class": "alb"
    "alb.ingress.kubernetes.io/scheme": "internet-facing"
    "alb.ingress.kubernetes.io/group.name": "{{ .Values.loadBalancerGroupName }}"
    "alb.ingress.kubernetes.io/target-type": "ip"
    "alb.ingress.kubernetes.io/healthcheck-protocol": "HTTP" 
    "alb.ingress.kubernetes.io/healthcheck-port": "traffic-port"
    "alb.ingress.kubernetes.io/healthcheck-path": "/health-check"
      #Important Note:  Need to add health check path annotations in service level if we are planning to use multiple targets in a load balancer    
      #alb.ingress.kubernetes.io/healthcheck-path: /usermgmt/health-status
    "alb.ingress.kubernetes.io/healthcheck-interval-seconds": "15"
    "alb.ingress.kubernetes.io/healthcheck-timeout-seconds": "5"
    "alb.ingress.kubernetes.io/success-codes": "200"
    "alb.ingress.kubernetes.io/healthy-threshold-count": "2"
    "alb.ingress.kubernetes.io/unhealthy-threshold-count": "2"
      ## SSL Settings
    "alb.ingress.kubernetes.io/listen-ports": "[{\"HTTPS\":443}]"
    "alb.ingress.kubernetes.io/certificate-arn": "{{ .Values.certArn}}"

spec:
  ingressClassName:  "alb"
  rules:
  - host: {{ .Values.siteDomain }}
    http:
      paths:
      - backend:
          service:
            name: "api"
            port:
              number: 8002
        path: "/api"
        pathType: Prefix      
  - host: {{ .Values.siteDomain }}
    http:
      paths:
      - backend:
          service:
            name: "platform-service"
            port:
              number: 28180
        path: "/services"
        pathType: Prefix
  - host: {{ .Values.siteDomain }}
    http:
      paths:
      - backend:
          service:
            name: "fluency7"
            port:
              number: 8004
        path: "/"
        pathType: Prefix