apiVersion: apps/v1
kind: Deployment
metadata:
  name: fluency8
  namespace: {{ .Release.Namespace }}
  labels:
    "ingext.io/app": "fluency8"
spec:
  replicas: 1
  selector:
    matchLabels:
      "ingext.io/app": "fluency8"
  template:
    metadata:
      labels:
        "ingext.io/app": "fluency8"
    spec:
      # serviceAccountName: {{ .Release.Namespace }}-sa
      containers:
        - name: fluency8
          image: "public.ecr.aws/ingext/fluency8:{{ .Values.fluency8Version }}"
          imagePullPolicy: Always
          ports:
            - name: http
              containerPort: 8004
              protocol: TCP
          livenessProbe:
            httpGet:
              path: "/health-check"
              port: 8004
            initialDelaySeconds: 3
            periodSeconds: 3
          readinessProbe:
            httpGet:
              path: "/"
              port: 8004
            initialDelaySeconds: 5
            periodSeconds: 10
            timeoutSeconds: 5
            successThreshold: 1
            failureThreshold: 3
          resources:
            requests:
              cpu: 100m
              memory: 64Mi
            limits:
              cpu: 200m
              memory: 128Mi
            
