apiVersion: v1
kind: Service
metadata:
  name: api
  namespace: {{ .Release.Namespace }}
  annotations:
    cloud.google.com/backend-config: '{"ports": {"8002": "api-backend-config"}}'
    cloud.google.com/neg: '{"ingress": true}'
spec:
  type: ClusterIP
  sessionAffinity: ClientIP
  ports:
    - port: 8002
      targetPort: 8002
      name: api
  selector:
    "ingext.io/app": "api"
